@keyframes neonAppearAnimate{
    0% { opacity: 0; }
    10% { opacity: 0; }
    10% { opacity: 0; }
    13% { opacity: .8; }
    16% { opacity: 1; }
    20% { opacity: 1; }
    26% { opacity: .8; }
    28% { opacity: .3; }
    32% { opacity: .7; }
    34% { opacity: .3; }
    36% { opacity: .8; }
    40% { opacity: .9; }
    50% { opacity: .4; }
    55% { opacity: .8; }
    60% { opacity: 1; }
    61% { opacity: 1; }
    62% { opacity: .55; }
    63% { opacity: 1; }
    64% { opacity: 1; }
    65% { opacity: .55; }
    66% { opacity: 1; }
    67% { opacity: 1; }
    68% { opacity: .55; }
    69% { opacity: 1; }
    70% { opacity: 1; }
    71% { opacity: .55; }
    72% { opacity: 1; }
    73% { opacity: 1; }
    74% { opacity: .55; }
    82% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes neonAnimate{
    0% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: .65; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes neonAnimate{
    0% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: .65; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}