.banner-container {
    padding: .5rem 1rem .5rem 1rem;
    margin-bottom:2rem;
}

.banner-img{
    opacity: 0;
    animation: neonAppearAnimate 2s linear 1;
    animation-fill-mode: forwards;
    width:100%;
}

.banner-img:hover {
    animation: neonAppearAnimate 2s linear 1, neonAnimate .1s linear infinite;
    animation-delay: 0 !important;
    cursor: pointer;
}