#header{
    padding-top:3rem;
    padding-bottom:4rem;
    padding-left:2rem;
    padding-right:2rem;
    img {
        opacity: 0;
        animation: neonAppearAnimate 2s linear 1;
        animation-fill-mode: forwards;
        width:100%;
    }
}

.turn-off-presentation {
    animation: neonTurnOff 1.5s linear 1;
    animation-fill-mode: forwards;
}
