@font-face {
    font-family: 'gil';
    src: url('../assets/fonts/GIL.TTF');
}

body{
    margin:0 0;
    background-image: url('../assets/background_skill.png');
    background-size: cover;
    width:100%;
    height:100%;
}

#skill-title {
    padding-top:3rem;
    padding-bottom:4rem;
    padding-left:2rem;
    padding-right:2rem;
    img {
        object-fit: scale-down;
        max-height:62px;
        opacity: 0;
        animation: neonAppearAnimate 2s linear 1;
        animation-fill-mode: forwards;
        width:100%;
    }
}

.illu-img {
    width:100%;
}

.description-title {
    margin-top:10px;
    color:white;
    text-transform: uppercase;
    text-align: left;
    font-family: "gil", "Avenir", Helvetica, Arial, sans-serif;
}

.description-text {
    color:white;
    text-align: left;
    font-family: "gil", "Avenir", Helvetica, Arial, sans-serif;
}

.projects {
    .project {
        margin-bottom: 50px;
    }
}